<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pollster</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="banner">
  <div class="container-title-home">
    Pollster
  </div>
  <form action="/newpoll" method="POST">
    <button class="newpoll-button">New poll</button>
  </form>
  <form action="/" method="GET">
    <button class="homepage">Home</button>
  </form>
</div>

<div class="container">
<body>
  <div class="create-poll-title">Create New Poll</div>
<form action="/poll" method="POST" id="new-poll-form">
  <label for="title">Title</label>
  <input type="text" name="title" required></input>
  <br>
  <label for="option1">Option 1</label>
  <input type="text" name="option1" required></input>
  <br>
  <label for="option2">Option 2</label>
  <input type="text" name="option2" required></input>
  <br>
  <button class="main-button" type="button" id="add-option-button">Add option</button>
  <button class="main-button">Add</button>
</form>
<br>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.js" charset="utf-8"></script>
<script src="/js/site.js" charset="utf-8"></script>
</body>
</div>
</html>
